<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Studentorchesteret Biørneblæs</title>
	<meta http-equiv="refresh" content="3; url=/">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	<!-- <link rel=stylesheet type=text/css href="../static/style.css"> -->
</head>
<body>
	<div class="centercontainer fillparent">
	<div class="wid450 nopad nomarg">
		<p style="font-size: 16pt; text-align: center;">{{ infotext }}</p>
	</div>
	</div>
</body>
</html>